@font-face {
    font-family: thsarabun;
    src: url(../font/THSarabun.ttf);
}
body,td,th {
	font-family: thsarabun;
	font-size: 20px;
	line-height: 120%;
}
body {
	/* -webkit-filter: grayscale(70%); */ /* Chrome, Safari, Opera */
  /*  filter: grayscale(70%); */
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f1f1f1;
}
.black-ribbon {
    position: fixed;
    z-index: 9999;
    width: 110px;
}

.stick-left {
    left: 0;
}

.stick-right {
    right: 0;
}

.stick-top {
    top: 0;
}

.stick-bottom {
    bottom: 0;
}

#top {
	width: 100%;
	height: 35px;
	background-color: #050403;
}
#header {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.borderright{
	border:1px solid #e2e2e2;
	background-color: #F9F9F9;
	padding: 5px;
}
a.urlright:link,a.urlright:visited,a.urlright:active {
	text-decoration:none;
	color: #0099FF;
}

a.urlright:hover {
	text-decoration:underline;
	color: #FF9900;
}

h2 {
	font-family:"Open Sans", Tahoma, "MS Sans Serif", Arial;
	font-size: 20px;
	color: #050403;
	text-decoration: none;
	font-weight: normal;
}
.textmain {
	text-align:justify;
	width: 700px;
}
.text1 {
	text-align:justify;
	text-indent: 30px;
	width: 670px;
}
.text2 {
	text-align:justify;
	text-indent: 30px;
} 
.textlogo{
	font-size: 26px;
	font-weight: bold;
	color: #ffb200;
}
.textadd{
	font-size: 16px;
	font-weight: bold;
	color: #999999;
}

#test {
	width: 1000px;
}
#bgshadow {
	background-color: #FFFFFF;
	background-image: url(../images/bg_shadow.png);
	background-repeat: repeat-x;
	margin-bottom: 10px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

.container{
	width: 700px;
	height: 250px;
}

.right {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    z-index: 9999;
}

/*-----------Body index-------------------*/
div.p1 p{
  text-align: center;
}

/* ---------- picture thumbnail styles start here ----------------------- */
div#Navigation{
	width:700px;
    }
    div#Navigation ul{
	list-style:none;
	padding:0;
    }
    div#Navigation ul li{
	float: left;
	display:block;
	background-color: #F5F5F5;
	text-align: center;
	border: 1px solid #EBEBEB;
	padding: 5px;
	margin: 5px;
}
    div#Navigation ul li:hover{
	display:block;
	background-color: #FFF3D7;
	text-align: center;
	border: 1px solid #ffb200;
    }
    div#Navigation ul li a{
    color:#333333;
    text-decoration:none;
    display:block;
    }
    div#Navigation ul li a:visited{
    color:#333333;
    text-decoration:none
    }
    div#Navigation ul li a:hover{
	color:#000000;
	text-decoration:none;
	background-color: #FFF3D7;
    }
/* ---------- picture thumbnail styles End here ----------------------- */
.imgborder {
	border: 1px solid #E5E5E5;
	padding: 3px;
}
.newborder {
	border: 1px dotted #d98724;
}
.newtitle {
	font-size: 13px;
	font-weight: bold;
	color: #b22d00;
	margin-bottom: 5px;
}
.newdetail {
	font-size: 13px;
	font-weight: normal;
	color: #464646;
}

#mainweb {
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	background-color: #FFFFFF;
	text-align: center;
}
a.urlnew:link,a.urlnew:visited,a.urlnew:active {
text-decoration:none;
}

a.urlnew:hover {
	text-decoration:underline;
	
}
.imgborder {
	padding: 2px;
	border: 1px solid #ffd204;
}
.imgtext{
	font-family: Tahoma, "MS Sans Serif", Arial;
	font-size: 13px;
	color: #FF9900;
}
.titleborder {
	padding: 2px;
	border: 1px solid #CFD1D0;
	background-color: #F9F9F9;
	width: 694px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #009900;
}
a.urlvdo:link,a.urlvdo:visited,a.urlvdo:active {
text-decoration:none;
font-size: 13px;
color: #FFb000;
}

a.urlvdo:hover {
	text-decoration:underline;
	font-size: 13px;
	color: #FFb000;
}
footer div.contener{
	padding: 20px 0;
	margin-right: auto;
	margin-left: auto;

}
footer{
	background-color: #333;
	width: 100%;
	height: 250px;
	bottom: 0;
}
footer ul{
	list-style: none;
	position: relative;
}
footer ul li.header{
	font-weight: bold;
	color: #fff;
}
footer ul.ft{
	float: left;
}
footer ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

/*---------------------------Menu dropdown--------------------------------------- */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  z-index: 9999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans',sans-serif;
  line-height: 1;
  background: #333;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #FF9900;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  padding: 20px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #FF9900;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #FF9900;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 180px;
  font-size: 15px;
  background: #474747;
  text-decoration: none;
  color: #dddddd;
  text-align: left;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #FF9900;
  background: #5c5c5c;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}